/* taken from https://rsms.me/inter/ */
@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

@import "@radix-ui/colors/gray.css";
@import "@radix-ui/colors/grayDark.css";



/* setting up some default layouts and colors with CSS variables */
:root {
  --page-font-size: 24px;
  --section-pad: 120px;
  --section-height: 100vh;
  --form-width: 240px;
}


/* mobile friendly layout */
@media (max-width: 640px) {
  :root {
    --page-font-size: 16px;

    --section-pad: 24px;
    --section-height: 100vw;

    --form-width: 200px;
  }
}

/* for fading in the form */
@keyframes fadein {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: translate(0, 24px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

body {
  font-family: "Inter var";
  font-size: var(--page-font-size);
  font-variation-settings: "wght" 300;
  line-height: 1.25;

  background-color: var(--gray1);
  color: var(--gray11);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 24px;
  z-index: 1;

  /* invert text */
  color: var(--gray12);
  /* mix-blend-mode: difference; */
}

h1 {
  font-variation-settings: "wght" 600;
}

section {
  background: var(--gray1);
  padding: var(--section-pad);
  height: var(--section-height);

  display: flex;
  align-items: center;
  justify-content: center;

  border-bottom: 1px solid var(--gray6);
}

section img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

form {
  position: fixed;
  bottom: 24px;
  right: 24px;
  max-width: var(--form-width);
  border: 0.5px solid var(--gray6);
  border-radius: 28px;

  background: var(--gray3);
  color: var(--gray11);
  padding: 24px;

  display: grid;
  grid-gap: 16px 8px;
  grid-template-areas: "label label" "input eth" "button button";
  grid-template-columns: 1fr auto;
  align-items: center;

  display: none;
  animation: fadein 0.4s 0.8s ease-in-out both;
}

form.has-eth { 
  display: grid;
  animation: fadein 0.4s 0.8s ease-in-out both;
}

form label {
  grid-area: label;

  display: block;
  font-size: 16px;
  font-variation-settings: "wght" 500;
}

form input {
  grid-area: input;
  border-radius: 4px;

  appearance: none;
  width: 100%;
  border: none;
  padding: 4px;

  font-variation-settings: "wght" 600;
  text-align: right;

  background: var(--gray1);
  color: var(--gray11);
  border: 1px solid var(--gray7);
  transition: border-color 0.2s ease-in-out;
}

form input:focus {
  border: 1px solid var(--gray8);
  outline: none;
}

form span {
  grid-area: eth;
  font-variation-settings: "wght" 500;
}

form button {
  border-radius: 4px;
  grid-area: button;
  appearance: none;
  border: none;
  background: var(--gray1);
  color: var(--gray11);
  font: inherit;
  padding: 12px;
  font-size: 16px;
  font-variation-settings: "wght" 600;
  cursor: pointer;
  transition: 0.2s ease-out;
}

form button:hover {
  background-color: #232323;
}

.toggle {
  position: fixed;
  top: 24px;
  right: 24px;
  padding: 12px;
  border-radius: 8px;
  font-size: 18px;
  line-height: 1.2;
  color: var(--gray12);
  border: 0.5px solid var(--gray7);
  background: var(--gray3);
  cursor: pointer;
  transition: 200ms ease-in-out;
  z-index: 100;
}

.toggle:hover {
  background: var(--gray4);
}

.toggle:active {
  background: var(--gray5);
}

/* for scroll snapping on larger screens */
@supports (scroll-snap-type: y mandatory) {
  @media (min-width: 640px) {
    html {
      scroll-snap-type: y mandatory;
    }
  
    section {
      scroll-snap-align: start;
    }
  }
}